In [1]:
import pandas as pd
import datetime as dt

df = pd.read_csv('airbnb_new_york_city_listings.csv')

In [2]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150,30,48,2019-11-04,0.34,3,341
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75,1,408,2021-06-29,5.09,1,212
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60,30,50,2016-06-05,0.55,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275,5,1,2014-01-02,0.01,1,184
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61,2,485,2021-07-18,3.63,1,255

In [3]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [4]:
df['last_review'] = pd.to_datetime(df['last_review'])
df['price'] = df['price'].astype('float')

df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [5]:
df['last_review_year'] = df['last_review'].dt.year
df['last_review_year'] = df['last_review_year'].astype('float')

In [6]:
df.isnull().sum()

id                                   0
name                                13
host_id                              0
host_name                           23
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9415
reviews_per_month                 9415
calculated_host_listings_count       0
availability_365                     0
last_review_year                  9415
dtype: int64

In [7]:
df.shape

(36724, 17)

In [8]:
# df['last_review_year'].fillna(0.0, inplace = True)
df.isnull().sum()

id                                   0
name                                13
host_id                              0
host_name                           23
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       9415
reviews_per_month                 9415
calculated_host_listings_count       0
availability_365                     0
last_review_year                  9415
dtype: int64

In [9]:
# df['last_review_year'] = df['last_review_year'].astype('int64')

In [10]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                         float64
dtype: object

Možemo primijetiti da imamo 5 kolona koje imaju prazne ćelije! 

Kolone "name" i "host name" su tipa object, odnosno tekstualnog tipa, dok su "reviews_per_month" i "last_review_year" decimalni brojevi, a "last_review" je datetime objekt.

Unesimo podatke u prazne ćelije tako da nam kasnije ne utječu na proračune. To će biti najbolje ako za kolonu:
- name unesemo vrijednost "No Name Listing"
- "host_name" unesemo vrijednost "No Host Name" -> postoje engleski uvriježeni oblik za bezimene - "Jane Doe" za ženske i "John Doe" za muške - "J. Doe"
- "reviews_per_month"  unesemo vrijednost 0.0 (decimalni broj)
- "last_review" - unesemo vrijednost '01-01-1970' - to odgovara početku UNIX vremena
- "last_review_year" - unesemo vrijednost 0

Za navedene aktivnosti na raspolaganju imamo tri metode:
- fillna()
- replace()
- interpolate()

Mi ćemo koristiti fillna()

In [11]:
df['name'].fillna('No Name Listing', inplace=True)
df['host_name'].fillna('J. Doe', inplace = True)
df['reviews_per_month'].fillna(0.0, inplace = True)
df['last_review_year'].fillna(0.0, inplace = True)
df['last_review'].fillna('01-01-1970', inplace = True)

In [12]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
last_review_year                  0
dtype: int64

In [13]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                         float64
dtype: object

In [14]:
df['last_review_year'] = df['last_review_year'].astype('int64')
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                    float64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_year                           int64
dtype: object

In [15]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021

In [16]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,0
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,0
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,0
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,0
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,0

Većinu podataka smo očistili, međutim, često se dogodi da nam tesktualni podaci sadrže znakove koje računala ne prikazuju (primjer je znak za novi red \n). Ti znakovi su tu, no kako nam ne trebaju u podacima, bilo bi ih dobro obrisati. Pandas podržava metodu str.strip nad DataFrame objektom (briše sve posebne znakove, prazna mjesta i slične znakove na početku i kraju tekstualnog podatka)

In [17]:
df['name'] = df['name'].str.strip()
df['host_name'] = df['host_name'].str.strip()
df['neighbourhood_group'] = df['neighbourhood_group'].str.strip()
df['neighbourhood'] = df['neighbourhood'].str.strip()
df['room_type'] = df['room_type'].str.strip()

Možemo dodati novu kolonu koja će nam prikazati podatak o minimalnom prihodu (kombinacija cijene po noćenju i minimalnog broja noćenja). Dakle, ako pomnožimo cijenu s minimalnim brojem noćenja, to je minimalni prihod koji iznajmljivač može dobiti za svoju nekretninu.

In [18]:
df['minimal_revenue'] = df['price'] * df['minimum_nights']
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0

## Manipulacija podacima - traženje informacija u podacima

Sada kad smo naše podatke pripremili možemo se "igrati" podacima.

Na početku ćemo napraviti nekoliko koraka koji bi mogli biti uključeni u pripremu podataka, ali i manipulaciju podacima.  

Prvi korak je uklanjanje "viška" informacija. Često skupovi podataka imaju jako puno kolona pa se onda teško usredotočiti na neku skupinu kolona koje nam mogu dati tražene informacije. 

Metoda koju ćemo koristiti je drop() -> dataFrame.drop('naziv_kolone', axis=1)

In [19]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75356,-73.98559,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.68494,-73.95765,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68535,-73.95512,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66265,-73.99454,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.76457,-73.98317,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0

In [20]:
df.drop(['latitude', 'longitude'], axis=1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,0,7905.0
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,0,1530.0
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,0,1890.0
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,Private room,75.0,1,0,1970-01-01,0.00,1,87,0,75.0
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,0,3450.0

In [21]:
df.drop(['id', 'host_id', 'host_name'], axis = 1)

,name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Skylit Midtown Castle,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,"Whole flr w/private bdrm, bath & kitchen(pls r...",Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,"Spacious Brooklyn Duplex, Patio + Garden",Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Large Furnished Room Near B'way,Manhattan,Midtown,40.764570,-73.983170,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,Gorgeous 2 Bedroom - in Prime Midtown East,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,0,7905.0
36720,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,0,1530.0
36721,The Hunter IIII,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,0,1890.0
36722,Rockaway Beach Surf Getaway,Queens,Arverne,40.599257,-73.797953,Private room,75.0,1,0,1970-01-01,0.00,1,87,0,75.0
36723,Nyc apt in the middle in nyc,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,0,3450.0

In [22]:
df.drop(['id', 'host_id', 'host_name', 'latitude', 'longitude'], axis=1, inplace = True)

In [23]:
df.head()

,name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Skylit Midtown Castle,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,"Whole flr w/private bdrm, bath & kitchen(pls r...",Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,"Spacious Brooklyn Duplex, Patio + Garden",Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Large Furnished Room Near B'way,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0

In [24]:
df.columns

Index(['name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'last_review_year', 'minimal_revenue'],
      dtype='object')

### Promjena naziva kolona

In [25]:
ocjene_df = pd.read_csv('ocjene.csv')

In [26]:
ocjene_df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [27]:
ocjene_df.columns

Index(['fname', 'lname', 'gender', 'age', 'exercise', 'hours', 'grade',
       'address'],
      dtype='object')

Stupci u ocjene df su:
- fname - ime
- lname - prezime
- gender - spol
- age - godine
- exercise - predstavlja tjedni broj sati vježbanja
- hours - predstavlja tjedni broj sati učenja
- grade - predstavlja ocjenu 
- address - adresa

In [28]:
ocjene_df.columns = ['Ime', 'Prezime', 'Spol', 'Dob', 'Sati_Tjednog_Vjezbanja', 'Sati_Tjednog_Ucenja', 'Ocjena', 'Puna_Adresa']

In [29]:
ocjene_df.columns

Index(['Ime', 'Prezime', 'Spol', 'Dob', 'Sati_Tjednog_Vjezbanja',
       'Sati_Tjednog_Ucenja', 'Ocjena', 'Puna_Adresa'],
      dtype='object')

In [30]:
ocjene_df.head()

,Ime,Prezime,Spol,Dob,Sati_Tjednog_Vjezbanja,Sati_Tjednog_Ucenja,Ocjena,Puna_Adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

Nekad se može desiti da moramo dodatno prilagoditi tekst naziva kolona. Recimo, želimo da su sva slova mala početna slova. 

Jedan od načina je korištenje for petlje.

In [31]:
ocjene_df.columns = [x.lower() for x in ocjene_df.columns] # list comprehensions
ocjene_df.head()

,ime,prezime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,puna_adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

Provjeriti za zadaću: df.rename()

### Filtriranje podataka

Ponekad želimo izdvojiti ili dohvatiti određene podatke iz grupe. Ovisno o cilju, najčešće žemo definirati neke uvjete. 

Započnimo korištenjem str.contains() metode. DOhvatimo sve podatke o nekretninama iz Manhattana.

In [32]:
df['neighbourhood_group'].str.contains('Manhattan').any()

True

In [33]:
df['neighbourhood_group'].str.contains('Manhattan').all()

False

In [34]:
df['neighbourhood_group'].str.contains('Manhattan')

0         True
1        False
2        False
3        False
4         True
         ...
36719     True
36720     True
36721     True
36722    False
36723     True
Name: neighbourhood_group, Length: 36724, dtype: bool

Dobili smo podatak ispunjava li redak uvjet ili ne. Međutim, za dohvat svih podataka u retku trebamo se poslužiti svojstvom .loc

In [35]:
df.loc[df['neighbourhood_group'].str.contains('Manhattan') == True]

,name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Skylit Midtown Castle,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
4,Large Furnished Room Near B'way,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0
5,Cozy Clean Guest Room - Family Apt,Manhattan,Upper West Side,Private room,75.0,2,118,2017-07-12,0.90,1,0,2017,150.0
8,Uptown Sanctuary w/ Private Bath (Month to Month),Manhattan,East Harlem,Private room,65.0,30,0,1970-01-01,0.00,2,365,0,1950.0
9,UES Beautiful Blue Room,Manhattan,East Harlem,Private room,62.0,30,234,2021-07-04,1.88,1,258,2021,1860.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36718,The Hunter IIIII,Manhattan,Upper East Side,Entire home/apt,125.0,30,0,1970-01-01,0.00,96,335,0,3750.0
36719,Gorgeous 2 Bedroom - in Prime Midtown East,Manhattan,Midtown,Entire home/apt,255.0,31,0,1970-01-01,0.00,6,364,0,7905.0
36720,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",Manhattan,Upper West Side,Entire home/apt,306.0,5,0,1970-01-01,0.00,1,16,0,1530.0
36721,The Hunter IIII,Manhattan,Upper East Side,Entire home/apt,63.0,30,0,1970-01-01,0.00,96,334,0,1890.0
36723,Nyc apt in the middle in nyc,Manhattan,Murray Hill,Entire home/apt,115.0,30,0,1970-01-01,0.00,11,364,0,3450.0

**ZADATAK** Iz skupa podataka o ocjenama, prikažite samo retke učenika s ocjenama većim od 70. Dodajte filter i po spolu. 

**VAŽNO** Koristit ćemo znakove za logičke operacije | (OR) i & (AND)

In [36]:
ocjene_df.head()

,ime,prezime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,puna_adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [37]:
ocjene_df.loc[(ocjene_df['spol'] == 'female') & (ocjene_df['ocjena']>70)]

,ime,prezime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,puna_adresa
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
6,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335"
8,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301"
...,...,...,...,...,...,...,...,...
1990,Adena,Battle,female,17,2,8,70.2,"9272 Elizabeth Drive, Londonderry, NH 03053"
1992,Isabelle,Barber,female,14,5,9,78.5,"955 Glen Ridge Rd., Plattsburgh, NY 12901"
1993,Risa,Watson,female,14,2,10,74.3,"37 Augusta Lane, Montgomery Village, MD 20886"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"

In [38]:
ocjene_df.shape

(2000, 8)

### Statistička obrada podataka

Prošli smo filtriranje podataka i prije nego se upoznamo s grupiranjem, upoznajmo se sa statističkom obradom podataka. Statistička obrada podataka će nam pomoći da još bolje upozname naše podatke.

Za početak nabrojimo najčešće korištene statističke vrijednosti:
- minimalna vrijednost (min)
- maksimalna vrijednost (max)
- raspon ili range (od min do max)
- srednja vrijednost (mean)
- medijan - vrijednost koja se nalazi u sredini kad podatke poredamo po veličini
- standardna devijacija (std) - prosječno srednje kvadratno odstupanje numeričkih vrijednosti od prosječne veličine
- ukupan broj vrijednosti (count)

In [39]:
df.head()

,name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
0,Skylit Midtown Castle,Manhattan,Midtown,Entire home/apt,150.0,30,48,2019-11-04,0.34,3,341,2019,4500.0
1,"Whole flr w/private bdrm, bath & kitchen(pls r...",Brooklyn,Bedford-Stuyvesant,Entire home/apt,75.0,1,408,2021-06-29,5.09,1,212,2021,75.0
2,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,Private room,60.0,30,50,2016-06-05,0.55,1,365,2016,1800.0
3,"Spacious Brooklyn Duplex, Patio + Garden",Brooklyn,Sunset Park,Entire home/apt,275.0,5,1,2014-01-02,0.01,1,184,2014,1375.0
4,Large Furnished Room Near B'way,Manhattan,Midtown,Private room,61.0,2,485,2021-07-18,3.63,1,255,2021,122.0

In [40]:
print(f"Minimalna cijena: {df['price'].min()}")
print(f"Maksimalna cijena: {df['price'].max()}")
print(f"Raspon cijena: {df['price'].max() - df['price'].min()}")
print(f"Prosječna cijena: {df['price'].mean()}")
print(f"Medijan  cijene: {df['price'].median()}")
print(f"Standardna devijacija cijene: {df['price'].std()}")
print(f"Maksimalna cijena: {df['price'].count()}")

Minimalna cijena: 0.0
Maksimalna cijena: 10000.0
Raspon cijena: 10000.0
Prosječna cijena: 160.10905674763097
Medijan  cijene: 108.0
Standardna devijacija cijene: 293.8884306462574
Maksimalna cijena: 36724

In [41]:
df.shape

(36724, 13)

Srećom, Pandas ima ugrađenu funkciju describe() koja objedinjuje većinu gore navedenih vrijednosti

In [42]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
count,36724.000000,36724.000000,36724.000000,36724.000000,36724.000000,36724.000000,36724.000000,3.672400e+04
mean,160.109057,22.482083,22.854836,1.022812,13.432306,122.570608,1501.684049,3.562474e+03
std,293.888431,28.361534,49.188479,3.374019,46.293004,138.765815,881.743887,1.374511e+04
min,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000e+00
25%,67.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.600000e+02
50%,108.000000,30.000000,4.000000,0.170000,1.000000,57.000000,2019.000000,1.860000e+03
75%,175.000000,30.000000,19.000000,0.990000,3.000000,259.000000,2021.000000,3.900000e+03
max,10000.000000,1250.000000,998.000000,192.930000,335.000000,365.000000,2021.000000,1.170000e+06

In [43]:
df.describe(include='all')

C:\Users\provi\AppData\Local\Temp\ipykernel_2696\2884002236.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all')

,name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,last_review_year,minimal_revenue
count,36724,36724,36724,36724,36724.000000,36724.000000,36724.000000,36724,36724.000000,36724.000000,36724.000000,36724.000000,3.672400e+04
unique,35573,5,223,4,NaN,NaN,NaN,2452,NaN,NaN,NaN,NaN,NaN
top,Water View King Bed Hotel Room,Manhattan,Bedford-Stuyvesant,Entire home/apt,NaN,NaN,NaN,1970-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN
freq,30,16105,2690,19484,NaN,NaN,NaN,9415,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08-04 00:00:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,160.109057,22.482083,22.854836,NaN,1.022812,13.432306,122.570608,1501.684049,3.562474e+03
std,NaN,NaN,NaN,NaN,293.888431,28.361534,49.188479,NaN,3.374019,46.293004,138.765815,881.743887,1.374511e+04
min,NaN,NaN,NaN,NaN,0.000000,1.000000,0.000000,NaN,0.000000,1.000000,0.000000,0.000000,0.000000e+00
25%,NaN,NaN,NaN,NaN,67.000000,3.000000,0.000000,NaN,0.000000,1.000000,0.000000,0.000000,4.600000e+02
50%,NaN,NaN,NaN,NaN,108.000000,30.000000,4.000000,NaN,0.170000,1.000000,57.000000,2019.000000,1.860000e+03
75%,NaN,NaN,NaN,NaN,175.000000,30.000000,19.000000,NaN,0.990000,3.000000,259.000000,2021.000000,3.900000e+03
max,NaN,NaN,NaN,NaN,10000.000000,1250.000000,998.000000,NaN,192.930000,335.000000,365.000000,2021.000000,1.170000e+06

In [44]:
df.loc[df['price']>2600].mean()

C:\Users\provi\AppData\Local\Temp\ipykernel_2696\2025151722.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.loc[df['price']>2600].mean()
C:\Users\provi\AppData\Local\Temp\ipykernel_2696\2025151722.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[df['price']>2600].mean()

price                               5703.890909
minimum_nights                        28.727273
number_of_reviews                      5.800000
reviews_per_month                      0.281818
calculated_host_listings_count         2.400000
availability_365                     169.345455
last_review_year                     954.254545
minimal_revenue                   177682.109091
dtype: float64

In [45]:
df.loc[df['price']<2600].mean()

C:\Users\provi\AppData\Local\Temp\ipykernel_2696\4219589627.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.loc[df['price']<2600].mean()
C:\Users\provi\AppData\Local\Temp\ipykernel_2696\4219589627.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.loc[df['price']<2600].mean()

price                              151.660376
minimum_nights                      22.473096
number_of_reviews                   22.881665
reviews_per_month                    1.023979
calculated_host_listings_count      13.449396
availability_365                   122.497177
last_review_year                  1502.587095
minimal_revenue                   3299.293343
dtype: float64

### Sortiranje i grupiranje podataka

Često trebamo podatke sortirati po veličini, od najmanje prema najvećoj ili obratno. To radimo pomoću metode sort_values() koja ima dva najvažnija parametra:
- by - kolona po kojoj želimo sortirati
- ascending - određuje je li sortiranje od manje prema većoj vrijednosti ili obratno

In [47]:
ocjene_df.sort_values(by='dob', ascending=False).reset_index(drop=True)

,ime,prezime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,puna_adresa
0,Hanna,Mooney,female,19,2,10,88.8,"8293 SW. Cedar Swamp Lane, Union, NJ 07083"
1,Steven,Graham,male,19,4,17,95.1,"90 Grove St., Camas, WA 98607"
2,Colette,Rojas,female,19,4,6,73.3,"17 Pin Oak Street, Villa Park, IL 60181"
3,Rinah,Jacobson,female,19,1,7,80.8,"737 Amherst Court, Amsterdam, NY 12010"
4,Hayes,Wilkinson,male,19,5,3,76.0,"350 Temple Court, Mason City, IA 50401"
...,...,...,...,...,...,...,...,...
1995,Porter,Ware,male,14,1,16,90.4,"52 Shirley Drive, Merrick, NY 11566"
1996,Kiona,Collier,female,14,4,11,84.0,"827 Rockledge Rd., New Port Richey, FL 34653"
1997,Jocelyn,Ashley,female,14,3,9,73.4,"830 Amerige Drive, Davenport, IA 52804"
1998,Lucius,Herrera,male,14,2,19,88.0,"67 Old Clinton Dr., Lynn, MA 01902"
1999,Illiana,Branch,female,14,5,4,69.8,"9730 Van Dyke Court, Port Orange, FL 32127"

In [48]:
ocjene_df.sort_values(by=['dob', 'sati_tjednog_ucenja'], ascending=True)

,ime,prezime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,puna_adresa
1213,Arthur,Nieves,male,14,3,0,76.8,"377 Beech Street, Chesterfield, VA 23832"
1640,Nolan,Small,male,14,3,2,71.5,"9205 Myers Drive, Ellicott City, MD 21042"
1758,Omar,Pittman,male,14,5,2,66.6,"281 Tower Street, Saint Johns, FL 32259"
1916,Kevin,Townsend,male,14,5,2,60.1,"9805 Walnutwood Dr., Panama City, FL 32404"
44,Dolan,Ford,male,14,3,3,64.2,"12 New St., Newark, NJ 07103"
...,...,...,...,...,...,...,...,...
36,Ivor,Arnold,male,19,4,20,100.0,"7027 Magnolia Dr., Catonsville, MD 21228"
101,Sage,Cleveland,female,19,2,20,100.0,"9721B Green Dr., Fairhope, AL 36532"
204,Timon,Goodman,male,19,4,20,98.0,"3 North Rockaway Ave., Uniontown, PA 15401"
508,Dai,Osborne,female,19,5,20,100.0,"2 Pilgrim Road, Alexandria, VA 22304"
954,Athena,Harvey,female,19,5,20,100.0,"137 Cedar Swamp Street, Laurel, MD 20707"

In [49]:
ocjene_df.sort_values(by=['dob', 'sati_tjednog_ucenja'], ascending=[True, False])

,ime,prezime,spol,dob,sati_tjednog_vjezbanja,sati_tjednog_ucenja,ocjena,puna_adresa
32,Georgia,Munoz,female,14,5,20,99.0,"84 New Saddle St., Revere, MA 02151"
89,Lucius,Herrera,male,14,2,19,88.0,"67 Old Clinton Dr., Lynn, MA 01902"
351,Nehru,Ballard,male,14,1,19,93.3,"487 Hudson Rd., Lansing, MI 48910"
1029,Clare,Fitzpatrick,female,14,4,19,94.2,"7551 Beech St., Rockledge, FL 32955"
1269,Valentine,Cummings,male,14,5,19,100.0,"326 West Heather Drive, Clifton Park, NY 12065"
...,...,...,...,...,...,...,...,...
1870,Levi,Coleman,male,19,3,3,55.9,"9453 Laurel Street, Jersey City, NJ 07302"
1278,Barclay,Nichols,male,19,0,2,66.3,"9999 Longbranch St., Wayne, NJ 07470"
1359,Jin,Valdez,male,19,2,2,77.0,"604 Big Rock Cove Drive, Gibsonia, PA 15044"
1449,Gillian,Norris,female,19,5,2,63.4,"9953 Cherry Hill Court, Hagerstown, MD 21740"
1931,Luke,Morrison,male,19,5,2,70.1,"471 Windfall Ave., Santa Monica, CA 90403"

### Grupiranje

Podatke često grupiramo po nekoj kategoriji. Na primjer, svi apartmani ili svi učenici neke dobi. Za tu grupu onda napravimo određeni statistički izračun.

In [51]:
df[['room_type', 'price', 'minimal_revenue']].groupby('room_type', as_index=False).mean()

         room_type       price  minimal_revenue
0  Entire home/apt  213.324779      4949.334480
1       Hotel room  293.262548      2662.552124
2     Private room   96.617690      1963.337077
3      Shared room  107.978297      2575.096828

Podatke možemo grupirati ne samo u jednoj koloni, negou više njih

In [54]:
df[['room_type', 'last_review_year', 'price']].groupby(['room_type', 'last_review_year'], as_index = False).median()

          room_type  last_review_year  price
0   Entire home/apt                 0  180.0
1   Entire home/apt              2010  228.0
2   Entire home/apt              2011  165.0
3   Entire home/apt              2012  150.0
4   Entire home/apt              2013  150.0
5   Entire home/apt              2014  170.0
6   Entire home/apt              2015  150.0
7   Entire home/apt              2016  150.0
8   Entire home/apt              2017  149.0
9   Entire home/apt              2018  150.0
10  Entire home/apt              2019  150.0
11  Entire home/apt              2020  148.0
12  Entire home/apt              2021  150.0
13       Hotel room                 0  370.0
14       Hotel room              2016  349.0
15       Hotel room              2017  248.0
16       Hotel room              2018  125.0
17       Hotel room              2019  291.0
18       Hotel room              2020  211.5
19       Hotel room              2021  165.0
20     Private room                 0   68.0
21     Private room              2011  349.0
22     Private room              2012   90.0
23     Private room              2013  100.0
24     Private room              2014   80.0
25     Private room              2015   75.0
26     Private room              2016   65.0
27     Private room              2017   65.0
28     Private room              2018   65.0
29     Private room              2019   69.0
30     Private room              2020   63.0
31     Private room              2021   68.0
32      Shared room                 0   65.0
33      Shared room              2013   50.0
34      Shared room              2014   82.0
35      Shared room              2015   61.5
36      Shared room              2016   95.0
37      Shared room              2017   51.0
38      Shared room              2018   57.0
39      Shared room              2019   55.0
40      Shared room              2020   45.0
41      Shared room              2021   40.0